.progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 6px;
    margin: 5px 0;
    border-radius: 6px;
  }
  
  .progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
    border-radius: 6px;
  }
  
  .progressLabel {
    /* Nothing here, move along */
    font-size: 1em;
  }
  